@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("https://search.pstatic.net/common/?src=http%3A%2F%2Fshop1.phinf.naver.net%2F20220212_138%2F1644666478145kdKDR_JPEG%2F45802305949737304_1836753438.jpg&type=sc960_832")
    no-repeat center;
  background-size: cover;
}
.login-form h1 {
  font-size: 32px;
  color: #fff;
  text-align: center;
}
.int-area {
  width: 400px;
  position: relative;
}
.int-area input {
  width: 100%;
  padding: 20px 10px 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #999999;
  font-size: 18px;
  color: #fff;
  outline: none;
}
.int-area label {
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 18px;
  color: #999;
  transition: top 0.5s ease;
}
.int-area input:focus + label,
.int-area input:valid + label {
  top: 0;
}
.btn-area {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 121px;
}
.btn {
        transform: translateX(-50%);
        margin-bottom: 40px;
        height: 40px;
        background: linear-gradient(125deg, #81ecec, #6c5ce7, #81ecec);
        background-position: left;
        background-size: 200%;
        color: white;
        font-weight: bold;
        border: none;
        cursor: pointer;
        transition: 0.4s;
        display: inline;
        width: 140px;
        margin: 10px;
        padding: 10px;
      }