<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Detail</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/detail.css')}}"
    />
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/detail.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>
  </head>
  <body>
    <div id="top">
      <img
        class="img-thumbnail"
        id="thumbnail"
        src="{{ plate['img'] }}"
        alt="썸네일"
      />
      <div id="top-text">
        <h1>{{ plate['title'] }}</h1>
        <h2>{{ plate['place'] }}</h2>
      </div>
    </div>
    <hr />
    <h3 id="content">{{ plate['content'] }}</h3>
    <hr />
    <div id="comment_list">
      {% for comment in comments %}
      <div id="comment">
        <h4>{{ comment['id'] }}</h4>
        <h4>{{ comment['comment'] }}</h4>
      </div>
      {% endfor %}
    </div>
    <div id="form-comment">
      <input class="form-control" type="text" id="comment_input" />
      <button
        class="btn btn-default"
        onclick="comment({{ plate['plate_num'] }}); return false"
      >
        작성
      </button>
    </div>
  </body>
</html>
