<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail</title>
    <meta property="og:title" content="Sparta Vocabulary Notebook" />
    <meta property="og:description" content="mini project for Web Plus" />
    <meta
      property="og:image"
      content="{{ url_for('static', filename='logo_red.png') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/detail.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/detail.css')}}"
    />
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap" rel="stylesheet">
    <style>
        .logo {
          font-size: 40px;
          font-family: 'Nanum Brush Script', cursive;
        }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a href="/main2" class="logo" style="text-decoration: none; color: inherit;">
                  Seoul Plate
        </a>
      </div>
    </nav>
    <div id="top">
      <img
        class="img-thumbnail"
        id="thumbnail"
        src="{{ plate['img'] }}"
        alt="썸네일"
      />
      <div id="top-text">
        <h2>{{ plate['title'] }}</h2>
        <h3>위치: {{ plate['place'] }}</h3>
      </div>
    </div>
    <hr />
    <h3 id="menu">메뉴</h3>
    <h5 id="content">{{ plate['content'] }}</h5>
    <hr />
    <div id="comment_list">
      {% for comment in comments %}
      <div id="comment">
        <span>{{ comment['id'] }}</span>
        <span>{{ comment['comment'] }}</span>
      </div>
      {% endfor %}
    </div>
    <div id="form-comment">
      <input class="form-control" type="text" id="comment_input" />
      <button
        class="btn btn-default"
        onclick="comment({{ plate['plate_num'] }}); return false"
      >
        작성
      </button>
    </div>
  </body>
</html>
