<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Log In</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css')}}"
    />
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/log_in.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>
  </head>

  <body>
    <section class="login-form">
      <h1>Seoul Plate</h1>
      <form method="POST">
        <div class="int-area">
          <input type="text" name="id" id="id" autocomplete="off" required />
          <label for="id">USER NAME</label>
        </div>
        <div class="int-area">
          <input
            type="password"
            name="pw"
            id="pw"
            autocomplete="off"
            required
          />
          <label for="pw">Pass Word</label>
        </div>
        <div class="btn-area">
          <button
            type="button"
            onclick="login(); return false"
            style="margin-right: 2px"
          >
            로그인
          </button>
          <button type="button" onclick="location.href = 'signup'">
            회원가입
          </button>
        </div>
      </form>
    </section>
  </body>
</html>
