<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
        <link
          rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"
        />
        <link
          href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet"
        />
        <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/main2.js')}}"></script>
        <script src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>
        <style>
            .header-search {
                display: flex;
                justify-content: center;
                margin: 0px auto;
                width: 600px;

            }
            .card {
                display: flex;
                margin: 10px 10px;
                padding-left: -10px;
            }
            .card-text {
                font-size: 10px;
            }
        </style>
        <script>
            function detail(plate_num) {
              window.location.href = `/detail?plate_num=${plate_num}`;
            }
        </script>
    </head>
  <body>
      <header>
          <nav class="navbar navbar-light bg-light">
             <div class="container-fluid">
                <a class="navbar-brand" href="#">
                   <img
                       src="/docs/5.0/assets/brand/bootstrap-logo.svg"
                       alt=""
                       width="30"
                       height="24"
                       class="d-inline-block align-text-top"
                   />
                   서울플레이트
                </a>
             </div>
          </nav>
      </header>
         {% for plate in plates %}
            <div class="card" id="card" style="width: 18rem;">
                <img src="{{ plate['img'] }}" onclick="detail(plate_num)" class="card-img-top" alt="...">

                <div class="card-body">
                <h5 class="card-title">{{ plate['title'] }}</h5>
                <p class="card-text"><span style="font-size: 15px;">메뉴  </span>{{ plate['content'] }}</p>
                </div>
            </div>
         {% endfor %}
  </body>
</html>
